/* ---------HEADER-------*/

header {
  display: flex;
  flex-direction: column;

  @include xxxl {
    font-size: 1.3em;
  }

  .return {
    position: absolute;
    top: 30px;
    left: 5%;
    z-index: 6;
    background-color: $white;
    border: 0;
    cursor: pointer;

    @include xxl {
      left: 20%;
    }
    @include xxxl {
      left: 35%;
    }
    .fa-arrow-left {
      color: black;
      font-size: 1.4em;
    }
  }
  .logo {
    font-family: "Shrikhand";
    padding: 20px 0 10px 0;
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: $black;
  }

  article {
    text-align: center;
    background-color: $background;
    padding-bottom: 40px;
  }
  p {
    padding-bottom: 30px;
    color: $dark-grey;
  }
  h1 {
    padding: 20px 40px 0 40px;
  }
  .gradient {
    @include gradient;
    transition-duration: 0.25s;
    font-size: 1.1em;

    &:hover {
      background: linear-gradient(
        rgba(255, 121, 218, 0.8),
        rgba(147, 86, 220, 0.8)
      ); /*éclaircissement couleur*/
      box-shadow: 0px 3px 4px 2px darken($color-grey, 20%); /* durcissement ombre*/
    }
  }
}
