/*galerie des menus porposé*/

.restaurant {
  background-color: $background;
  padding-top: 10px;
  padding-bottom: 40px;
  &__flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include lg {
      flex-direction: row;
    }
    @include xl {
      flex-direction: row;
    }
    @include xxl {
      flex-direction: row;
    }
    @include xxxl {
      flex-direction: row;
    }
  }
  &__photo {
    @include card;
    @include md {
      margin: 10px auto 30px auto;
      width: 83%;
    }
    @include lg {
      margin: auto auto 40px auto;
      width: 40%;
    }
    @include xl {
      flex-direction: row;
      margin: auto auto 40px auto;
      width: 40%;
    }
    @include xxl {
      flex-direction: row;
      margin: auto auto 40px auto;
      width: 40%;
      height: 340px;
    }
    @include xxxl {
      flex-direction: row;
      margin: auto auto 40px auto;
      width: 40%;
      height: 440px;
    }
  }

  &__photo--large {
    @include photo(180px);

    @include xxl {
      @include photo(260px);
    }
    @include xxxl {
      @include photo(360px);
    }
  }

  .new {
    @include Btnnew(70%);

    @include md {
      @include Btnnew(85%);
    }

    @include lg {
      @include Btnnew(75%);
    }
    @include xl {
      @include Btnnew(70%);
    }
    @include xxl {
      @include Btnnew(80%);
    }
    @include xxxl {
      @include Btnnew(75%);
      font-size: 1.4em;
    }
  }

  .text {
    @include text;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
  }

  .block {
    position: relative;
  }
}
