.restaurant {
  background-color: $background;
  padding-top: 10px;
  padding-bottom: 40px;
  &__flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__photo {
    @include card;
  }

  &__photo--large {
    @include photo;
  }

  #new {
    @include Btnnew(200px, 120px);
  }
  #new1 {
    @include Btnnew(200px, 120px);
  }

  .text {
    border: 1px solid red;
    @include text;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
  }

  .block {
    position: relative;
  }
}
