@charset "UTF-8";
body {
  width: auto;
  margin: 0;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

h2 {
  padding-left: 10px;
}

h3,
p {
  margin: 0 0 5px 0;
}

.fas {
  color: #7e7e7e;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  display: grid;
  place-items: center center;
  z-index: 5;
  pointer-events: none;
  /* retirer toute intéraction au clique sur l'élément*/
}
.loader {
  animation: space_spin 3000ms ease-in-out both;
  /* both pour que l'animation ne reaparait pas */
}
.loader > .spinner {
  animation: spin 3000ms ease-in-out both;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #9356dc;
  border-left-color: #ff79da;
  border-right-color: #99e2d0;
  border-radius: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes space_spin {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.menu__btn1 {
  display: inline-flex;
  margin-left: 15%;
  vertical-align: middle;
}
.menu__btn1 .menu__btn {
  margin-top: -15px;
  position: relative;
}
.menu__btn1 .menu__like {
  position: absolute;
  top: 0;
  left: 0;
}
.menu__btn1 .fa-heart {
  padding: 0.2em;
}
.menu__btn1 .fa-heart::before {
  content: "";
  position: absolute;
}
.menu__btn1 .fa-heart:hover::before {
  font-weight: bold;
  animation: progress-bar 1.5s ease-in-out;
  background-position: bottom;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background-size: 100% 0%;
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

@keyframes progress-bar {
  from {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 0% 0%;
  }
  to {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    color: black;
  }
}
.input-icon {
  position: relative;
  background-color: #eaeaea;
  z-index: 3;
}

.icone {
  position: absolute;
  /*important*/
  top: 16px;
  left: 25%;
  font-size: 15px;
  width: 40px;
  z-index: 1;
}
.icone .dark {
  color: black;
}

input[type=text] {
  background-color: #eaeaea;
  border: 0;
  text-align: center;
  height: 50px;
  width: 100%;
  box-shadow: inset 0px 2px 3px 0px #d1d1d1;
  padding: 0;
}

input::placeholder {
  color: black;
  font-size: 1.2em;
}

.steps__list {
  list-style: none;
  padding: 10px 10px 20px 20px;
  counter-reset: repas;
  /* on initialise et nomme un compteur */
}
.steps__list li {
  padding: 20px 20px 20px 25px;
  font-weight: 600;
  background-color: #f6f6f6;
  box-shadow: 2px 4px 8px 0px #eaeaea;
  border-radius: 15px;
  margin-bottom: 20px;
  list-style-type: none;
  counter-increment: repas;
}
.steps__list li .fas {
  padding-right: 10px;
}
.steps__list li:before {
  content: counter(repas);
  /* on affiche le compteur */
  padding: 4px 8px 4px;
  vertical-align: top;
  background: #9356dc;
  border-radius: 60px;
  font-size: 0.8em;
  color: white;
  position: absolute;
  left: 10px;
  z-index: 2;
}
.steps__list li:hover {
  background-color: #f2eafb;
  box-shadow: 2px 4px 8px 0px #d1d1d1;
}
.steps__list li:hover .fas {
  color: #9356dc;
}

header {
  display: flex;
  flex-direction: column;
}
header .return {
  position: absolute;
  top: 2%;
  left: 5%;
  z-index: 6;
  background-color: white;
  border: 0;
}
header .return .fa-arrow-left {
  color: black;
  font-size: 1.4em;
}
header img {
  padding: 20px 0 10px 0;
  width: 45%;
  margin: auto;
}
header article {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
header article p {
  padding-bottom: 30px;
  color: #7e7e7e;
}
header article h1 {
  padding: 20px 40px 0 40px;
}
header article .gradient {
  background: linear-gradient(#ff79da, #9356dc);
  padding: 15px;
  color: white;
  border: 0px;
  border-radius: 20px;
  box-shadow: 0px 3px 4px 2px #d1d1d1;
  cursor: pointer;
}

.restaurant {
  background-color: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 40px;
}
.restaurant__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.restaurant__photo {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding-bottom: 10px;
  height: 250px;
  box-shadow: 0px 4px 5px 0px #cbcbcb;
}
.restaurant__photo--large {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}
.restaurant #new {
  position: absolute;
  z-index: 1;
  left: 70%;
  bottom: 70%;
  background-color: #99e2d0;
  color: #2c9c81;
  border: 0;
  padding: 5px 10px;
  font-weight: 600;
}
.restaurant #new1 {
  position: absolute;
  z-index: 1;
  left: 70%;
  bottom: 70%;
  background-color: #99e2d0;
  color: #2c9c81;
  border: 0;
  padding: 5px 10px;
  font-weight: 600;
}
.restaurant .text {
  padding-top: 5px;
  padding-left: 10px;
  width: 60%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}
.restaurant .block {
  position: relative;
}

footer {
  background-color: #353535;
  color: white;
  padding: 10px;
}
footer ul {
  list-style: none;
  margin-left: 6px;
  padding-left: 0;
}
footer li {
  margin-bottom: 10px;
}
footer a {
  color: white;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 15px;
  font-weight: 200;
}
footer .fas {
  margin-right: 15px;
  color: white;
}
footer .fa-utensils {
  margin-right: 23px;
}

#menu__main1 {
  background-image: url(/public/images/restaurants/jay.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border: solid 1px white;
}
#menu__main1 h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  padding-left: 5%;
  display: inline-flex;
  vertical-align: middle;
}
#menu__main1 .fa-heart {
  margin-left: 4%;
  padding: 15px;
  font-size: 1.3em;
}
#menu__main1 section {
  background-color: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: 160px;
  border-radius: 35px 35px 0 0;
}

#menu__main2 {
  background-image: url(/public/images/restaurants/stil.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border: solid 1px white;
}
#menu__main2 h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  padding-left: 5%;
  display: inline-flex;
  vertical-align: middle;
}
#menu__main2 .fa-heart {
  margin-left: 4%;
  padding: 15px;
  font-size: 1.3em;
}
#menu__main2 section {
  background-color: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: 160px;
  border-radius: 35px 35px 0 0;
}

#menu__main3 {
  background-image: url(/public/images/restaurants/toa.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border: solid 1px white;
}
#menu__main3 h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  padding-left: 5%;
  display: inline-flex;
  vertical-align: middle;
}
#menu__main3 .fa-heart {
  margin-left: 4%;
  padding: 15px;
  font-size: 1.3em;
}
#menu__main3 section {
  background-color: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: 160px;
  border-radius: 35px 35px 0 0;
}

#menu__main4 {
  background-image: url(/public/images/restaurants/louis.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border: solid 1px white;
}
#menu__main4 h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  padding-left: 5%;
  display: inline-flex;
  vertical-align: middle;
}
#menu__main4 .fa-heart {
  margin-left: 4%;
  padding: 15px;
  font-size: 1.3em;
}
#menu__main4 section {
  background-color: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: 160px;
  border-radius: 35px 35px 0 0;
}

.gradient {
  border: 0;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 15px;
  color: white;
  border: 0px;
  border-radius: 20px;
  box-shadow: 0px 3px 4px 2px #d1d1d1;
  cursor: pointer;
  padding: 15px 35px;
  display: flex;
  margin: auto;
}
.gradient .fas {
  font-size: 20px;
  color: black;
}

.entrées,
.Plats,
.desserts {
  flex-grow: 1;
  padding-bottom: 15px;
}
.entrées a,
.Plats a,
.desserts a {
  background-color: white;
  margin-bottom: 15px;
}
.entrées p,
.Plats p,
.desserts p {
  font-size: 0.8em;
}
.entrées h2,
.Plats h2,
.desserts h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 200;
  color: #7e7e7e;
  padding-bottom: 20px;
}
.entrées h2 span,
.Plats h2 span,
.desserts h2 span {
  padding-bottom: 5px;
  border-bottom: 3px solid #99e2d0;
}

.menu:hover > .box {
  width: 5em;
}
.menu:hover > .box .check {
  transform: rotate(0deg);
}

.namePlat {
  flex-grow: 1;
  width: 5em;
}
.namePlat p,
.namePlat h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
}

.price {
  width: 2.5em;
  padding-top: 9%;
  font-weight: bold;
}

.box {
  display: flex;
  width: 0;
  transition: all 1s;
  background-color: #99e2d0;
}
.box .check {
  margin: auto;
  border-radius: 50%;
  transition: transform 1s;
  transform: rotate(180deg);
}
.box .check .fa-check-circle {
  color: white;
  font-size: 1.3em;
}

.menu {
  display: flex;
  width: 98%;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}
.menu:hover > .box {
  width: 20%;
}
.menu:hover > .box .check {
  transform: rotate(0deg);
}

/*# sourceMappingURL=style.css.map */
