/*---------Champ de saisie ville --------------*/

.input-icon {
  position: relative;
  background-color: $color-grey;
  z-index: 2;
}

.icone {
  position: absolute; /*important*/
  top: 16px;
  left: 25%;
  font-size: 15px;
  width: 40px;
  z-index: 1;
  .dark {
    color: black;
  }
  @include md {
    left: 37%;
  }
  @include lg {
    left: 40%;
  }
  @include xl {
    left: 40%;
  }
  @include xxl {
    left: 43%;
  }
  @include xxxl {
    left: 46%;
  }
}
input[type="text"] {
  background-color: $color-grey;
  border: 0;
  text-align: center;
  height: 50px;
  width: 100%;
  box-shadow: inset 0px 2px 3px 0px darken($color-grey, 10%);

  padding: 0;
}
input::placeholder {
  color: black;
  font-size: 1.4em;
}
