/* -------------NOTICE DE FONCTIONNEMENT --------------*/

.steps {
  &__list {
    list-style: none;
    padding: 10px 10px 20px 20px;
    counter-reset: repas;
    /* on initialise et nomme un compteur */
    & li {
      padding: 20px 20px 20px 25px;
      font-weight: 600;
      background-color: $background;
      box-shadow: 2px 4px 8px 0px $color-grey;
      border-radius: 15px;
      margin-bottom: 20px;
      list-style-type: none;
      counter-increment: repas;

      .fas {
        padding-right: 10px;
      }
    }
    li:before {
      content: counter(repas); /* on affiche le compteur */
      padding: 4px 8px 4px;
      vertical-align: top;
      background: $color-primaire;
      border-radius: 60px;
      font-size: 0.8em;
      color: white;
      position: absolute;
      left: 10px;
      z-index: 2;
    }

    li:hover {
      background-color: lighten($color-primaire, $amount: 35);
      box-shadow: 2px 4px 8px 0px darken($color-grey, 10%);

      .fas {
        color: $color-primaire;
      }
    }
  }
}
