/*.menu__btn {
  border: 1px solid red;
  display: inline-flex;
  margin-left: 30%;
  vertical-align: middle;

  &:hover::before {
    opacity: 1;
  }
  &::before {
    opacity: 0;
    transition: 0.9s;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
.menu__like {
  transition: color 2s ease-in-out;
  height: 100%;
  width: 100%;
}

.menu__btn:hover {
  opacity: 1;
  animation: gradient 1500ms;

  .menu__like {
    &--noBg {
      font-weight: bold;
      background: linear-gradient(
        0deg,
        $color-primaire 0%,
        $color-secondaire 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
/*
@keyframes gradient {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}*/
.menu__btn1 {
  border: 1px solid red;
  display: inline-flex;
  margin-left: 30%;
  vertical-align: middle;
}
.menu__btn {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  position: relative;
  background-color: black;
  &:hover::before {
    opacity: 1;
  }

  &::before {
    opacity: 0;
    transition: 0.8s;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      0deg,
      $color-primaire 0%,
      $color-secondaire 100%
    );
  }
}

.menu__like {
  transition-duration: 0.35s;
  background-color: white;
  position: absolute;
  mix-blend-mode: lighten;
}

.menu__btn:hover {
  .menu__like {
    &--noBg {
      opacity: 0;
    }
  }
}
.fa-heart {
  color: black;
}
