.menu__btn1 {
  display: inline-flex;
  margin-left: 15%;
  vertical-align: middle;

  .fa-heart {
    padding: 0.2em;
    color: black;
  }
}
.menu__btn {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  margin-top: 20%;
  cursor: pointer;
  position: relative;
  background-color: black;

  &:hover::before {
    opacity: 1;
  }

  &::before {
    opacity: 0;
    transition: 0.5s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      0deg,
      $color-primaire 0%,
      $color-secondaire 100%
    );
  }
}

.menu__like {
  transition-duration: 0.45s;
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  mix-blend-mode: lighten;
}

.menu__btn:hover {
  .menu__like {
    &--noBg {
      opacity: 0;
    }
  }
}
