.fa-heart {
  padding: 0.2em;
  color: black;
}

/*.fa-heart::before {
  transition: color 2s ease-in-out;
  /*background: -webkit-linear-gradient($color-primaire, $color-secondaire); /* pour le dégradé de l'icone mais la transition ne prend pas dessus 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-heart:hover::before {
  color: $color-primaire;
  font-weight: bold;
  cursor: pointer;
}*/
