/* animation menus */
/*animation prix et check */
/* liste des menus */

.namePlat {
  flex-grow: 1; /*facteur expension*/
  width: 5em;
  padding: 10px;

  p,
  h3 {
    overflow: hidden;
    text-overflow: ellipsis; /* affiche ellipse pour représenter texte rogner */
    white-space: nowrap; /*passage a la ligne automatique supprimé*/
  }
}
.price {
  width: 2.5em;
  padding-top: 35px;
  font-weight: bold;
}
.box {
  display: flex;
  width: 0;
  transition: all 1s;
  background-color: $color-tertaire;

  .check {
    margin: auto;
    border-radius: 50%;
    .fa-check-circle {
      color: white;
      font-size: 1.3em;
    }

    transition: transform 0.7s;
    transform: rotate(360deg);
  }
}
.menu:hover > .box {
  width: 5em; /* définit la taille de l'apparition box */
  .check {
    transform: rotate(0deg);
  }
}

/*apparition des menu */
.menu {
  display: flex;
  width: 93%;
  border-radius: 10px;
  margin: auto;
  overflow: hidden; /*cache  ce qui dépasse */
  cursor: pointer;

  &__delay {
    animation: delayapparition 0.6s;
    animation-timing-function: ease-in-out; /*déroulement animation*/
    animation-fill-mode: both;
  }
}

@keyframes delayapparition {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.delay__0 {
  animation-delay: 0s;
}
.delay__1 {
  animation-delay: 0.4s;
}
.delay__2 {
  animation-delay: 0.8s;
}
.delay__3 {
  animation-delay: 1.2s;
}
.delay__4 {
  animation-delay: 1.6s;
}
.delay__5 {
  animation-delay: 2s;
}
.delay__6 {
  animation-delay: 2.4s;
}
.delay__7 {
  animation-delay: 2.6s;
}
.delay__8 {
  animation-delay: 2.8s;
}
.delay__9 {
  animation-delay: 3.2s;
}
