/*------------lOADING SPINNER -----------------*/

.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  display: grid;
  place-items: center center;
  z-index: 5;

  pointer-events: none; /* retirer toute intéraction au clique sur l'élément*/

  @include xl {
    width: 80%;
  }
  @include xxl {
    width: 90%;
  }
  @include xxxl {
    width: 80%;
  }
  & {
    animation: space_spin 3000ms ease-in-out both; /* both pour que l'animation ne reaparait pas*/
    > .spinner {
      animation: spin 3000ms ease-in-out both;
    }
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 10px solid $color-primaire;
  border-left-color: $color-secondaire;
  border-right-color: $color-tertaire;
  border-radius: 100%;
}
/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes space_spin {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
