/* bases des pages menus*/
#menu__main {
  img {
    height: 235px;
    object-fit: cover;
    width: 100%;
  }
  h1 {
    @include menuh1;
  }

  section {
    width: 100%;
    z-index: 1; /* pour le faire passer a l'avant */
    position: relative;
    @include sectionm;
    .titre {
      display: flex;
      justify-content: space-between;
    }
    .menu-flex {
      @include lg {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      @include xl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      @include xxl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      @include xxxl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

/* ---------- mise en page menu -----------*/
.entrees,
.Plats,
.desserts {
  padding-bottom: 15px;
  @include lg {
    width: 30%;
    margin: auto;
  }
  @include xl {
    width: 30%;
    margin: auto;
  }
  @include xxl {
    width: 30%;
    margin: auto;
  }
  @include xxxl {
    width: 30%;
    margin: auto;
  }

  a {
    background-color: white;
    margin-bottom: 15px;
    height: 70px;
  }
  p {
    font-size: 0.8em;
  }
  h2 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 200;
    color: $dark-grey;
    padding-bottom: 20px;
    padding-left: 13px;
    span {
      padding-bottom: 5px;
      border-bottom: 3px solid $color-tertaire;
    }
  }
}
/* --------- bouton gradient --------*/
.gradient {
  @include gradient;
  padding: 15px 35px;
  display: flex;
  margin: auto;
  &:hover {
    background: linear-gradient(
      rgba(255, 121, 218, 0.8),
      rgba(147, 86, 220, 0.8)
    );
    box-shadow: 0px 3px 4px 2px darken($color-grey, 20%); /* durcissement ombre*/
  }
}
