/* bases des pages menus*/
#menu__main1 {
  img {
    height: 235px;
    object-fit: cover;
    width: 100%;
  }
  h1 {
    @include menuh1;
  }

  section {
    width: 100%;
    z-index: 1; /* pour le faire passer a l'avant */
    position: relative;
    @include sectionm;
    .titre {
      display: flex;
      justify-content: space-between;
      .menu__btn {
        margin-top: 45%;
      }
    }
  }
}
#menu__main2 {
  img {
    height: 235px;
    object-fit: cover;
    width: 100%;
  }
  h1 {
    @include menuh1;
  }

  section {
    width: 100%;
    z-index: 1;
    position: relative;
    @include sectionm;

    .titre {
      display: flex;
      justify-content: space-between;
      .menu__btn {
        margin-top: 45%;
      }
    }
  }
}
#menu__main3 {
  img {
    height: 235px;
    object-fit: cover;
    width: 100%;
  }
  h1 {
    @include menuh1;
  }

  section {
    width: 100%;
    z-index: 1;
    position: relative;
    @include sectionm;
    .titre {
      display: flex;
      justify-content: space-between;
      .menu__btn {
        margin-top: 45%;
      }
    }
  }
}
#menu__main4 {
  img {
    height: 235px;
    object-fit: cover;
    width: 100%;
  }
  h1 {
    @include menuh1;
  }

  section {
    width: 100%;
    z-index: 1;
    position: relative;
    @include sectionm;
    .titre {
      display: flex;
      justify-content: space-between;
      .menu__btn {
        margin-top: 45%;
      }
    }
  }
}
/* --------- bouton gradient --------*/
.gradient {
  border: 0;
  @include gradient;
  padding: 15px 35px;
  display: flex;
  margin: auto;
  &:hover {
    background: linear-gradient(
      rgba(255, 121, 218, 0.8),
      rgba(147, 86, 220, 0.8)
    );
  }
}
/* ---------- mise en page menu -----------*/
.entrees,
.Plats,
.desserts {
  flex-grow: 1;
  padding-bottom: 15px;

  a {
    background-color: white;
    margin-bottom: 15px;
    height: 70px;
  }
  p {
    font-size: 0.8em;
  }
  h2 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 200;
    color: $dark-grey;
    padding-bottom: 20px;
    padding-left: 13px;
    span {
      padding-bottom: 5px;
      border-bottom: 3px solid $color-tertaire;
    }
  }
}
/* --------- coeur menu------------*/
.menu__btn2 {
  .fa-heart {
    font-size: 1.5em;
    color: black;
  }
  .menu__btn {
    height: 3rem;
    width: 3rem;
    margin-top: 10%;
  }
  .menu__like {
    background-color: $background;
    top: 0;
  }
}
/* liste des menus */
.menu:hover > .box {
  width: 5em;
  .check {
    transform: rotate(0deg);
  }
}
.namePlat {
  flex-grow: 1;
  width: 5em;
  padding: 10px;

  p,
  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.price {
  width: 2.5em;
  padding-top: 12%;
  font-weight: bold;
}
.box {
  display: flex;
  width: 0;
  transition: all 1s;
  background-color: $color-tertaire;

  .check {
    margin: auto;

    border-radius: 50%;
    .fa-check-circle {
      color: white;
      font-size: 1.3em;
    }

    transition: transform 1s;
    transform: rotate(180deg);
  }
}
/* animation menus */
.menu {
  display: flex;
  width: 93%;
  border-radius: 10px;
  margin: auto;

  overflow: hidden;
  cursor: pointer;

  &:hover > .box {
    width: 20%;
    .check {
      transform: rotate(0deg);
    }
  }
}
