//-------link-----
@mixin link {
  text-decoration: none;
  list-style: none;
  color: $black;
}

@mixin gradient {
  background: linear-gradient($color-secondaire, $color-primaire);
  padding: 15px;
  color: $white;
  border: 0px;
  border-radius: 20px;
  box-shadow: 0px 3px 4px 2px darken($color-grey, 10%);
  cursor: pointer;
}
@mixin hovergradient {
  background: linear-gradient(
    rgba(255, 121, 218, 0.8),
    rgba(147, 86, 220, 0.8)
  ); /*éclaircissement couleur*/
  box-shadow: 0px 3px 4px 2px darken($color-grey, 20%); /* durcissement ombre*/
}
@mixin card {
  background-color: $white;
  border-radius: 15px;
  margin: 10px;
  padding-bottom: 10px;
  height: 250px;
  box-shadow: 0px 4px 5px 0px lighten($dark-grey, $amount: 30);
}

@mixin photo($height) {
  object-fit: cover;
  height: $height;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}

@mixin menuh1 {
  font-family: "Shrikhand";
  font-weight: 400;
  padding-left: 5%;
  display: inline-flex;
  vertical-align: middle;
}

@mixin sectionm {
  background-color: $background;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: -50px;
  border-radius: 35px 35px 0 0;
}

@mixin Btnnew($left) {
  position: absolute;
  z-index: 1;
  left: $left;
  bottom: 70%;
  background-color: $color-tertaire;
  color: darken($color-tertaire, $amount: 35);
  border: 0;
  padding: 5px 10px;
  font-weight: 600;
}

@mixin text {
  padding-top: 5px;
  padding-left: 10px;
  width: 60%;
}

//-------Responsive-----
//tablette
@mixin md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md_max) {
    @content;
  }
}
//tablette landscape
@mixin mdland {
  @media (min-width: $screen-md-min) and (max-width: $screen-md_max) and (orientation: landscape) {
    @content;
  }
}
// petit écran
@mixin lg {
  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    @content;
  }
}
//desktop
@mixin xl {
  @media (min-width: $screen-xl-min) and (max-width: $screen-xl-max) {
    @content;
  }
}
// écran large
@mixin xxl {
  @media (min-width: $screen-xxl-min) and (max-width: $screen-xxl-max) {
    @content;
  }
}
// écran trés large
@mixin xxxl {
  @media (min-width: $screen-xxxl-min) {
    @content;
  }
}
