$color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertaire: #99e2d0;
$color-grey: #eaeaea;
$background: #f6f6f6;
$white: white;
$dark-grey: #7e7e7e;
$grey: #f2f2f2;
$black: black;
$darkbackground: #353535;
