//--------------color----------
$color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertaire: #99e2d0;
$color-grey: #eaeaea;
$background: #f6f6f6;
$white: white;
$dark-grey: #7e7e7e;
$grey: #f2f2f2;
$black: black;
$darkbackground: #353535;

//-------------Breackpoint ----------
$screen-sm-min: 320px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md_max: 1439px;
$screen-lg-min: 1024px;
$screen-lg-max: 1279px;
$screen-xl-min: 1280px;
$screen-xl-max: 1439px;
